.button.selected {
	background-color: var(--white-color);
	color: var(--black-color);
}

/* Button Styles */

.button {
	font-family: "Heebo", sans-serif;
	font-weight: 400;
	border-radius: 48px;
	padding: 0.25em 1em;
	border-style: none;
}

.button:hover {
	background-color: var(--white-color-4) !important;
}

/* Primary */

.btn-primary-solid {
	--background-color: var(--dark-orange-color);
	background-color: var(--dark-orange-color);
	color: var(--white-color);
}

.btn-primary-outline {
	background-color: var(transparent);
	color: var(--dark-orange-color);
	border: 1px solid currentColor;
}

/* Secondary */

.btn-secondary-solid {
	background-color: var(--dark-blue-color);
	color: var(--white-color);
}

.btn-secondary-outline {
	background-color: transparent;
	color: var(--dark-blue-color);
	border: 1px solid currentColor;
}

/* Warning */
.btn-warning-solid {
	background-color: var(--warning-color);
	color: var(--white-color);
}

.btn-warning-outline {
	background-color: transparent;
	color: var(--warning-color);
	border: 1px solid currentColor;
}

/* Danger */
.btn-danger-solid {
	background-color: var(--danger-color);
	color: var(--white-color);
}

.btn-danger-outline {
	background-color: transparent;
	color: var(--danger-color);
	border: 1px solid currentColor;
}

/* Success */
.btn-success-solid {
	background-color: var(--success-color);
	color: var(--white-color);
}

.btn-success-outline {
	background-color: transparent;
	color: var(--success-color);
	border: 1px solid currentColor;
}

/* White */

.btn-white-solid {
	background-color: var(--white-color);
	color: var(--black-color);
}

.btn-white-outline {
	background-color: transparent;
	color: var(--white-color);
	border: 1px solid currentColor;
}

/* Dark */

.btn-dark-solid {
	background-color: var(--dark-color);
	color: var(--white-color);
}

.btn-dark-outline {
	background-color: transparent;
	color: var(--dark-color);
	border: 1px solid currentColor;
}

/* Sizes */
.btn-sm {
	padding: 0.1em 0.5em;
}

.btn-md {
	padding: 0.25em 1em;
}

.btn-lrg {
	padding: 0.4em 1.1em;
	font-weight: 500;
	font-size: larger;
}

/* Outline */
.btn.outline {
	color: var(--background-color);
	border: 1px solid var(--background-color);
	background-color: transparent;
}
