.button-outline {
	border: 1px solid var(--white-color) !important;
	background-color: transparent;
	color: var(--white-color);
}

.button {
	font-weight: 400;
	padding: 0.25em 1em;
	border-style: none;
	border-radius: 48px;
}

.button.selected {
	background-color: var(--white-color);
	color: var(--black-color);
}

.button:hover {
	background-color: var(--white-color-3);
	color: var(--black-color);
}

@keyframes mymove {
	from {
		background-color: red;
	}
	to {
		background-color: blue;
	}
}
